/****** Script para el comando SelectTopNRows de SSMS  ******/

CREATE PROCEDURE sp_Boletas_Entrevistador @EntrevistadorID as int
as
BEGIN
SELECT  [HtIdDistrito]
      ,[HtConsecutivo]
      ,[HtNumActividad]
      ,[HtIdMes]
      ,[HtAngo]
      ,[HtNumIdentificacionNegocio]
      ,[HtNomNegocio]
      ,[HtNomLegal]
      ,[HtNumRazonSocial]
      ,[HtDirNegocio]
      ,[HtTel1Negocio]
      ,[HtExt1Negocio]
      ,[HtEmail]
      ,[HtCantidadTrabajadores]
      ,[HtCantidadTrabajadoresHombres]
      ,[HtCantidadTrabajadoresNujeres]
      ,[HtDescCIIUProductoPrincipal]
      ,[HtNumCiiu4]
      ,[HtNombreInformante]
      ,[HtCargoDelInformante]
      ,[HtTelefonoInformante]
      ,[HtEmailInformante]
      ,[HtIdResultadoEntrevista]
      ,[HtObservaciones]
      ,[HtIdEmpleado]
      ,[HtHoraInicio]
      ,[HtHoraFinal]
      ,[HtDuracionEntrevista]
      ,[HtFechaEntrevista]
      ,[HtFechaUltimaModificacion]
      ,[HtIntentosEntrevista]
      ,[HtTipoDeCambio]
      ,[HtIdTipoMoneda]
      ,[HtTotalDirectivosMujer]
      ,[HtTotalDirectivosHombre]
      ,[HtTotalDirectivos]
      ,[HtTotalProfesionalesMujer]
      ,[HtTotalProfesionalesHombre]
      ,[HtTotalProfesionales]
      ,[HtTotalTecnicosMujer]
      ,[HtTotalTecnicosHombre]
      ,[HtTotalTecnicos]
      ,[HtTotalApoyoAdminMujer]
      ,[HtTotalApoyoAdminHombre]
      ,[HtTotalApoyoAdmin]
      ,[HtTotalServiciosMujer]
      ,[HtTotalServiciosHombre]
      ,[HtTotalServicios]
      ,[HtTotalAgricultoresMujer]
      ,[HtTotalAgricultoresHombre]
      ,[HtTotalAgricultores]
      ,[HtTotalOperariosMujer]
      ,[HtTotalOperariosHombre]
      ,[HtTotalOperarios]
      ,[HtTotalOperadoresMujer]
      ,[HtTotalOperadoresHombre]
      ,[HtTotalOperadores]
      ,[HtTotalOcupElementalesMujer]
      ,[HtTotalOcupElementalesHombre]
      ,[HtTotalOcupElementales]
      ,[HtSalarioBaseTotal]
      ,[HtSalEspecieTotal]
      ,[HtPagoHrsExtraTotal]
      ,[HtAguinaldoTotal]
      ,[HtSalEscolarTotal]
      ,[HtRemuneracionesTotal]
      ,[HtTotalCostoDirectivos]
      ,[HtTotalCostoProfecionales]
      ,[HtTotalCostoTecnicos]
      ,[HtTotalCostoApoyoAdmin]
      ,[HtTotalCostoServicios]
      ,[HtTotalCostoAgricultores]
      ,[HtTotalCostoOperarios]
      ,[HtTotalCostoOperadores]
      ,[HtTotalCostoOcupElementales]
      ,[HtTotalCosto]
      ,[HtDeducccionTotal]
      ,[HtTotalHorasDerectivos]
      ,[HtTotalHorasProfecionales]
      ,[HtTotalHorasTecnicos]
      ,[HtTotalHorasApoyoAdmin]
      ,[HtTotalHorasServicios]
      ,[HtTotalHorasAgricultores]
      ,[HtTotalHorasOperarios]
      ,[HtTotalHorasOperadores]
      ,[HtTotalHorasOcupElementales]
      ,[HtTotalHorasOrdinarias]
      ,[HtTotalHorasExtra]
      ,[HtTotalHoras]
      ,[HtTotalOutsourcing]
      ,[HtTotalOutsourcingMujer]
      ,[HtTotalOutsourcingHombre]
      ,[HtIdEntrevistador]
  FROM [HtBase2].[dbo].[HtBoleta] where HtIdEntrevistador = @EntrevistadorID
  END;

  -- FILTRO SELECCIONAR EMPLEADO




  GO

  CREATE PROCEDURE sp_Boletas_Fechas @Fechainicio as DATETIME, @FechaFinal as DATETIME
as
BEGIN
SELECT  [HtIdDistrito]
      ,[HtConsecutivo]
      ,[HtNumActividad]
      ,[HtIdMes]
      ,[HtAngo]
      ,[HtNumIdentificacionNegocio]
      ,[HtNomNegocio]
      ,[HtNomLegal]
      ,[HtNumRazonSocial]
      ,[HtDirNegocio]
      ,[HtTel1Negocio]
      ,[HtExt1Negocio]
      ,[HtEmail]
      ,[HtCantidadTrabajadores]
      ,[HtCantidadTrabajadoresHombres]
      ,[HtCantidadTrabajadoresNujeres]
      ,[HtDescCIIUProductoPrincipal]
      ,[HtNumCiiu4]
      ,[HtNombreInformante]
      ,[HtCargoDelInformante]
      ,[HtTelefonoInformante]
      ,[HtEmailInformante]
      ,[HtIdResultadoEntrevista]
      ,[HtObservaciones]
      ,[HtIdEmpleado]
      ,[HtHoraInicio]
      ,[HtHoraFinal]
      ,[HtDuracionEntrevista]
      ,[HtFechaEntrevista]
      ,[HtFechaUltimaModificacion]
      ,[HtIntentosEntrevista]
      ,[HtTipoDeCambio]
      ,[HtIdTipoMoneda]
      ,[HtTotalDirectivosMujer]
      ,[HtTotalDirectivosHombre]
      ,[HtTotalDirectivos]
      ,[HtTotalProfesionalesMujer]
      ,[HtTotalProfesionalesHombre]
      ,[HtTotalProfesionales]
      ,[HtTotalTecnicosMujer]
      ,[HtTotalTecnicosHombre]
      ,[HtTotalTecnicos]
      ,[HtTotalApoyoAdminMujer]
      ,[HtTotalApoyoAdminHombre]
      ,[HtTotalApoyoAdmin]
      ,[HtTotalServiciosMujer]
      ,[HtTotalServiciosHombre]
      ,[HtTotalServicios]
      ,[HtTotalAgricultoresMujer]
      ,[HtTotalAgricultoresHombre]
      ,[HtTotalAgricultores]
      ,[HtTotalOperariosMujer]
      ,[HtTotalOperariosHombre]
      ,[HtTotalOperarios]
      ,[HtTotalOperadoresMujer]
      ,[HtTotalOperadoresHombre]
      ,[HtTotalOperadores]
      ,[HtTotalOcupElementalesMujer]
      ,[HtTotalOcupElementalesHombre]
      ,[HtTotalOcupElementales]
      ,[HtSalarioBaseTotal]
      ,[HtSalEspecieTotal]
      ,[HtPagoHrsExtraTotal]
      ,[HtAguinaldoTotal]
      ,[HtSalEscolarTotal]
      ,[HtRemuneracionesTotal]
      ,[HtTotalCostoDirectivos]
      ,[HtTotalCostoProfecionales]
      ,[HtTotalCostoTecnicos]
      ,[HtTotalCostoApoyoAdmin]
      ,[HtTotalCostoServicios]
      ,[HtTotalCostoAgricultores]
      ,[HtTotalCostoOperarios]
      ,[HtTotalCostoOperadores]
      ,[HtTotalCostoOcupElementales]
      ,[HtTotalCosto]
      ,[HtDeducccionTotal]
      ,[HtTotalHorasDerectivos]
      ,[HtTotalHorasProfecionales]
      ,[HtTotalHorasTecnicos]
      ,[HtTotalHorasApoyoAdmin]
      ,[HtTotalHorasServicios]
      ,[HtTotalHorasAgricultores]
      ,[HtTotalHorasOperarios]
      ,[HtTotalHorasOperadores]
      ,[HtTotalHorasOcupElementales]
      ,[HtTotalHorasOrdinarias]
      ,[HtTotalHorasExtra]
      ,[HtTotalHoras]
      ,[HtTotalOutsourcing]
      ,[HtTotalOutsourcingMujer]
      ,[HtTotalOutsourcingHombre]
      ,[HtIdEntrevistador]
  FROM [HtBase2].[dbo].[HtBoleta] where HtFechaUltimaModificacion between @Fechainicio and DATEADD(DAY,1,@FechaFinal);
  END;


  go

  CREATE PROCEDURE GET_RESULTADOS()
  AS
  BEGIN
SELECT        HtIdResultadoEntrevista, HtDescriResultado
FROM            HtResultado
  END


  GO

  CREATE PROCEDURE sp_Boletas_por_Resultado @Resultado as int
  as 
BEGIN
SELECT  [HtIdDistrito]
      ,[HtConsecutivo]
      ,[HtNumActividad]
      ,[HtIdMes]
      ,[HtAngo]
      ,[HtNumIdentificacionNegocio]
      ,[HtNomNegocio]
      ,[HtNomLegal]
      ,[HtNumRazonSocial]
      ,[HtDirNegocio]
      ,[HtTel1Negocio]
      ,[HtExt1Negocio]
      ,[HtEmail]
      ,[HtCantidadTrabajadores]
      ,[HtCantidadTrabajadoresHombres]
      ,[HtCantidadTrabajadoresNujeres]
      ,[HtDescCIIUProductoPrincipal]
      ,[HtNumCiiu4]
      ,[HtNombreInformante]
      ,[HtCargoDelInformante]
      ,[HtTelefonoInformante]
      ,[HtEmailInformante]
      ,[HtIdResultadoEntrevista]
      ,[HtObservaciones]
      ,[HtIdEmpleado]
      ,[HtHoraInicio]
      ,[HtHoraFinal]
      ,[HtDuracionEntrevista]
      ,[HtFechaEntrevista]
      ,[HtFechaUltimaModificacion]
      ,[HtIntentosEntrevista]
      ,[HtTipoDeCambio]
      ,[HtIdTipoMoneda]
      ,[HtTotalDirectivosMujer]
      ,[HtTotalDirectivosHombre]
      ,[HtTotalDirectivos]
      ,[HtTotalProfesionalesMujer]
      ,[HtTotalProfesionalesHombre]
      ,[HtTotalProfesionales]
      ,[HtTotalTecnicosMujer]
      ,[HtTotalTecnicosHombre]
      ,[HtTotalTecnicos]
      ,[HtTotalApoyoAdminMujer]
      ,[HtTotalApoyoAdminHombre]
      ,[HtTotalApoyoAdmin]
      ,[HtTotalServiciosMujer]
      ,[HtTotalServiciosHombre]
      ,[HtTotalServicios]
      ,[HtTotalAgricultoresMujer]
      ,[HtTotalAgricultoresHombre]
      ,[HtTotalAgricultores]
      ,[HtTotalOperariosMujer]
      ,[HtTotalOperariosHombre]
      ,[HtTotalOperarios]
      ,[HtTotalOperadoresMujer]
      ,[HtTotalOperadoresHombre]
      ,[HtTotalOperadores]
      ,[HtTotalOcupElementalesMujer]
      ,[HtTotalOcupElementalesHombre]
      ,[HtTotalOcupElementales]
      ,[HtSalarioBaseTotal]
      ,[HtSalEspecieTotal]
      ,[HtPagoHrsExtraTotal]
      ,[HtAguinaldoTotal]
      ,[HtSalEscolarTotal]
      ,[HtRemuneracionesTotal]
      ,[HtTotalCostoDirectivos]
      ,[HtTotalCostoProfecionales]
      ,[HtTotalCostoTecnicos]
      ,[HtTotalCostoApoyoAdmin]
      ,[HtTotalCostoServicios]
      ,[HtTotalCostoAgricultores]
      ,[HtTotalCostoOperarios]
      ,[HtTotalCostoOperadores]
      ,[HtTotalCostoOcupElementales]
      ,[HtTotalCosto]
      ,[HtDeducccionTotal]
      ,[HtTotalHorasDerectivos]
      ,[HtTotalHorasProfecionales]
      ,[HtTotalHorasTecnicos]
      ,[HtTotalHorasApoyoAdmin]
      ,[HtTotalHorasServicios]
      ,[HtTotalHorasAgricultores]
      ,[HtTotalHorasOperarios]
      ,[HtTotalHorasOperadores]
      ,[HtTotalHorasOcupElementales]
      ,[HtTotalHorasOrdinarias]
      ,[HtTotalHorasExtra]
      ,[HtTotalHoras]
      ,[HtTotalOutsourcing]
      ,[HtTotalOutsourcingMujer]
      ,[HtTotalOutsourcingHombre]
      ,[HtIdEntrevistador]
  FROM [HtBase2].[dbo].[HtBoleta] where HtIdResultadoEntrevista =@Resultado;
  END;


  go

