
create procedure sp_seleccionarBoleta (@HtConsecutivo as int,@HtNumActividad as int,@HtIdMes as int, @HtAngo as int)
 as 
 begin 
 Select 
 HtIdDistrito ,
HtConsecutivo ,
HtNumActividad ,
HtIdMes ,
HtAngo ,
HtNumIdentificacionNegocio ,
HtNomNegocio ,
HtNomLegal ,
HtNumRazonSocial ,
HtDirNegocio ,
HtTel1Negocio ,
HtExt1Negocio ,
HtEmail ,
HtCantidadTrabajadores ,
HtCantidadTrabajadoresHombres ,
HtCantidadTrabajadoresNujeres ,
HtDescCIIUProductoPrincipal ,
HtNumCiiu4 ,
HtNombreInformante ,
HtCargoDelInformante ,
HtTelefonoInformante ,
HtEmailInformante ,
HtIdResultadoEntrevista ,
HtObservaciones ,
HtIdEmpleado ,
HtHoraInicio ,
HtHoraFinal ,
HtDuracionEntrevista ,
HtFechaEntrevista ,
HtFechaUltimaModificacion,
HtIntentosEntrevista ,
HtTipoDeCambio ,
HtIdTipoMoneda ,
HtTotalDirectivosMujer ,
HtTotalDirectivosHombre ,
HtTotalDirectivos ,
HtTotalProfesionalesMujer ,
HtTotalProfesionalesHombre ,
HtTotalProfesionales ,
HtTotalTecnicosMujer ,
HtTotalTecnicosHombre ,
HtTotalTecnicos ,
HtTotalApoyoAdminMujer ,
HtTotalApoyoAdminHombre ,
HtTotalApoyoAdmin ,
HtTotalServiciosMujer ,
HtTotalServiciosHombre ,
HtTotalServicios ,
HtTotalAgricultoresMujer ,
HtTotalAgricultoresHombre ,
HtTotalAgricultores ,
HtTotalOperariosMujer ,
HtTotalOperariosHombre ,
HtTotalOperarios ,
HtTotalOperadoresMujer ,
HtTotalOperadoresHombre ,
HtTotalOperadores ,
HtTotalOcupElementalesMujer ,
HtTotalOcupElementalesHombre ,
HtTotalOcupElementales ,
HtSalarioBaseTotal ,
HtSalEspecieTotal ,
HtPagoHrsExtraTotal ,
HtAguinaldoTotal ,
HtSalEscolarTotal ,
HtRemuneracionesTotal ,
HtTotalCostoDirectivos ,
HtTotalCostoProfecionales ,
HtTotalCostoTecnicos ,
HtTotalCostoApoyoAdmin ,
HtTotalCostoServicios ,
HtTotalCostoAgricultores ,
HtTotalCostoOperarios ,
HtTotalCostoOperadores ,
HtTotalCostoOcupElementales ,
HtTotalCosto ,
HtDeducccionTotal ,
HtTotalHorasDerectivos ,
HtTotalHorasProfecionales ,
HtTotalHorasTecnicos ,
HtTotalHorasApoyoAdmin ,
HtTotalHorasServicios ,
HtTotalHorasAgricultores ,
HtTotalHorasOperarios ,
HtTotalHorasOperadores ,
HtTotalHorasOcupElementales ,
HtTotalHorasOrdinarias ,
HtTotalHorasExtra ,
HtTotalHoras ,
HtTotalOutsourcing ,
HtTotalOutsourcingMujer ,
HtTotalOutsourcingHombre ,
HtIdEntrevistador
 from HtBoleta   where HtConsecutivo = @HtConsecutivo and HtNumActividad = @HtNumActividad and HtIdMes = @HtIdMes  and HtAngo = @HtAngo;
 end;


